# Ignore Rust build artifacts and dependencies
/oaxaca_blinder/target/
/target/
Cargo.lock
/build_target/
oaxaca_blinder/check_output_2.txt
oaxaca_blinder/check_output_3.txt
oaxaca_blinder/check_output_4.txt
oaxaca_blinder/check_output_5.txt
oaxaca_blinder/check_output_6.txt
oaxaca_blinder/check_output_7.txt
oaxaca_blinder/check_output_8.txt
oaxaca_blinder/check_output.txt
*/target/*
*/.venv/*
build.log
.DS_Store
*.iml
.idea/
